*{
    font-family: 'Tajawal', 'Cairo', sans-serif;
}
body {
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
    direction: rtl;
    color: #34495e;

    background-image: url('../img/background6.jpg');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    padding: 10px 50px 50px 50px;
    text-align: center;
    box-sizing: border-box;

    overflow: hidden;
    position: relative;
}


.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(90deg, #063064, #3e87cc); 
    }

.title {
    font-size: 32px;
    color: #07427d;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
label {
    font-size: 16px;
    font-weight: 500;
    color: #34495e;
    margin-bottom: 10px;
    display: block;
}
.shift-input {
    width: 100px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    transition: all 0.3s ease;
}
.shift-input:focus {
    outline: none;
    border-color: #2980b9;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.2);
}
.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.button-container button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    width: 70%;
    margin-bottom: 20px;

}
.btn-generate {
    background: linear-gradient(to right, #2980b9, #3498db);
    color: white;

}
.btn-generate:hover {
    background: linear-gradient(to right, #3498db, #2980b9);
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);

}
/* حقل عرض كلمة المرور */
#passwordField {
    width: 80%;
    padding: 15px;
    font-size: 1.2em;
    margin-bottom: 20px;
    border: 2px solid #0066cc;
    border-radius: 12px;
    background-color: #ffffff;
    text-align: center;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}
/* شريط تقييم كلمة المرور */
.strength-bar {
    height: 15px;
    border-radius: 10px;
    margin-top: 20px;
    width: 100%;
    background-color: #f0f0f0;
    position: relative;
}
.strength-bar span {
    height: 100%;
    display: block;
    border-radius: 10px;
}
.weak {
    background-color: red;
    width: 33%;
}
.medium {
    background-color: orange;
    width: 66%;
}
.strong {
    background-color: green;
    width: 100%;
}
/* معلومات كلمة المرور */
.password-info {
padding: 20px;
background-color: #ecf0f1;
border-radius: 10px;
margin-top: 20px;
font-size: 1.2em;
color: #34495e;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
text-align: right; /* لتنسيق النص في الاتجاه الصحيح */
}

.password-info ul {
list-style: none;
padding-left: 0;
margin: 0;
}

.password-info li {
margin: 10px 0;
font-size: 16px;
}

.password-info li strong {
color: #07427d;
}

.checkbox-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}
.checkbox-container label {
    font-size: 14px;
    color: #34495e;
}
.checkbox-container input {
    margin-top: 5px;
    transform: scale(1.2);
}

.section {
    background-color: #f7f8fa;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
}