*{
    font-family: 'Tajawal', 'Cairo', sans-serif;
}

body {
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    direction: rtl;
    color: #34495e;

    background-image: url('../img/background6.jpg');
    background-size: cover; 
    background-position: center center; 
    background-attachment: fixed;
}
.container {
    width: 100%;
    max-width: 900px;
    margin: 15px auto;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.1);
    padding: 10px 60px 60px 60px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #ddd;

    
    overflow: hidden;
    position: relative;
}


.container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 7px;
    background: linear-gradient(90deg, #063064, #3e87cc); 
    }

.title {
    font-size: 36px;
    color: #07427d;
    font-weight: 700;
    letter-spacing: 1px;
}
label {
    font-size: 18px;
    font-weight: 500;
    color: #34495e;
    margin-bottom: 10px;
    display: block;
}
.shift-input {
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 18px;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    transition: all 0.3s ease;
    margin-bottom: 20px;

}
.shift-input:focus {
    outline: none;
    border-color: #3498db;
    background-color: #ffffff;
    box-shadow: 0 0 8px rgba(41, 128, 185, 0.2);
}
.shift-input::placeholder {
    color: #aaa;
    font-style: italic;
}
.button-container {
    margin-top: 30px;
}
.button-container button {
    padding: 18px 35px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
    outline: none;
    width: 70%;
    background: linear-gradient(to right, #2980b9, #3498db);
    color: white;
}
.btn-generate:hover {
    background: linear-gradient(to right, #3498db, #2980b9);
    transform: scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    font-family: 'Tajawal', 'Cairo', sans-serif;

}
.strength-bar-container {
    margin-top: 30px;
    margin-bottom: 20px;
}
.strength-bar {
    height: 20px;
    border-radius: 10px;
    width: 100%;
    background-color: #f0f0f0;
    margin-bottom: 20px;
}
.strength-bar span {
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: width 0.4s ease;
}
.weak {
    background-color: red;
    width: 25%;
}
.medium {
    background-color: orange;
    width: 50%;
}
.strong {
    background-color: yellow;
    width: 75%;
}
.very-strong {
    background-color: green;
    width: 100%;
}
.password-info {
    padding: 25px;
    background-color: #ecf0f1;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 1.3em;
    color: #34495e;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    text-align: right;
}
.password-info ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.password-info li {
    margin: 15px 0;
    font-size: 16px;
}
.password-info li strong {
    color: #07427d;
}
.section {
    background-color: #f7f8fa;
    padding: 10px;
    border-radius: 15px;
}
.error-message {
    color: red;
    font-size: 16px;
    margin-top: 20px;
    display: none;
}
.result-container {
    margin-top: 20px;
    display: none; /* إخفاء النتيجة عند بداية الصفحة */
}
.result-label {
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
.result-text {
    font-size: 18px;
    font-weight: bold;
}
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
    .shift-input {
        width: 100%;
        padding: 10px;
    }
    .button-container button {
        width: 90%;
    }
}